<div class="pt-5 mt-5">
  <div class="row justify-content-center no-gutters">
    <div class="col-12 text-center">
      <h1 class="font-weight-bold">TODO LIST</h1>
    </div>

    <div class="col-8 pt-3">
      <div class="row pb-4">
        <div class="col-auto mr-auto">
          <button mdbBtn color="secondary" [disabled]="!tasks" rounded="true" mdbWavesEffect (click)="openNewTaskModal()">
            <mdb-icon fas icon="plus-circle mr-1"></mdb-icon>Add Task
          </button>
        </div>

        <div class="col-auto ml-auto">
          <button 
            mdbBtn 
            color="secondary" 
            [disabled]="!tasks" 
            size="sm" 
            outline="true" 
            rounded="true" 
            mdbWavesEffect 
            (click)="filterCollapse.toggle()">
            <mdb-icon fas icon="filter"></mdb-icon> Filters
          </button>

          <button 
            mdbBtn 
            color="secondary" 
            [disabled]="!tasks"
            size="sm" 
            rounded="true" 
            #sortByPopover="bs-mdbPopover" 
            placement="bottom" 
            [mdbPopover]="sortByPopTemplate" 
            mdbWavesEffect>
            <mdb-icon fas icon="sort"></mdb-icon> Sort by
          </button>

          <ng-template #sortByPopTemplate>
            <div class="list-group list-group-flush">
              <button *ngFor="let item of sortListItems" 
                class="list-group-item list-group-item-action waves-light px-0" 
                mdbWavesEffect 
                (click)="selectSortItem(item)">
                <mdb-icon *ngIf="item.selected" fas icon="check"></mdb-icon> {{item.name}}
              </button>
            </div>
          </ng-template>
        </div>

      </div>

      <div mdbCollapse #filterCollapse="bs-collapse">
        <div *ngFor="let filter of filtersListItems" class="row">
          <div class="col-12">
            <span class="font-weight-bold">{{filter.name}}</span>
            <button *ngFor="let item of filter.items"
              mdbBtn
              mdbWavesEffect
              size="sm"
              rounded="true"
              class="btn-{{item.selected? '' : 'outline-'}}secondary"
              (click)="selectFilterItem(filter.value, item)">
              {{item.name}}
            </button>
          </div>
        </div>
      </div>


      <mdb-card class="mt-4">
        <mdb-card-body>
          <div class="row pb-1">
            <div class="col-1">
            </div>
            <div class="col-7">
              <span class="font-weight-bold">Title</span>
            </div>
            <div class="col-2 text-center">
              <span class="font-weight-bold{{filter.sortBy === 'priority'? ' purple-text is-clickable' : ''}}" (click)="toggleSortDirection('priority')">
                Priority<mdb-icon *ngIf="filter.sortBy === 'priority'" fas icon="arrow-{{filter.direction === 'desc'? 'down' : 'up'}} ml-1"></mdb-icon>
              </span>
            </div>
            <div class="col-2">
              <span class="font-weight-bold{{filter.sortBy === 'dueDate'? ' purple-text is-clickable' : ''}}" (click)="toggleSortDirection('dueDate')">
                Due Date<mdb-icon *ngIf="filter.sortBy === 'dueDate'" fas icon="arrow-{{filter.direction === 'desc'? 'down' : 'up'}} ml-1"></mdb-icon>
              </span>
            </div>
          </div>

          <div *ngIf="!tasks" class="text-center">
            <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
          </div>

          <ng-container *ngIf="tasks && !tasks.length">
            <h1 class="text-center pt-5">
              No Tasks found
            </h1>
          </ng-container>
          
          <ng-container *ngFor="let task of tasks">
            <div class="row is-clickable py-3 taskHovered" (click)="openViewTaskModal(task.id)">
              <div class="col-1">
                <mdb-checkbox [rounded]="true" [checked]="task.completed" (change)="updateTaskStatus(task.id, $event.checked)" (click)="$event.stopPropagation()"></mdb-checkbox>
              </div>
              <div class="col-7 text-truncate">
                {{task.title}}
              </div>
              <div class="col-2 text-center">
                <mdb-badge *ngIf="task.priority === 1" pill="true" default="true">Low</mdb-badge>
                <mdb-badge *ngIf="task.priority === 2" pill="true" warning="true">Medium</mdb-badge>
                <mdb-badge *ngIf="task.priority === 3" pill="true" danger="true">High</mdb-badge>
                <!-- <mdb-badge *ngIf="!task.priority" pill="true">No Priority</mdb-badge> -->
                <span *ngIf="!task.priority">No Priority</span>
              </div>
              <div class="col-2">
                <small *ngIf="task.dueDate">{{formatDate(task.dueDate)}}</small>
                <small *ngIf="!task.dueDate">No Date</small>
              </div>
            </div>
            <hr class="my-0">
          </ng-container>

          <div *ngIf="canLoadMoreTasks" class="text-center pt-2">
            <button mdbBtn color="secondary" [disabled]="loadingMoreTasks" rounded="true" mdbWavesEffect (click)="loadMoreTasks()">
              <span *ngIf="!loadingMoreTasks">Load more Tasks</span>
              <span *ngIf="loadingMoreTasks" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
          </div>

        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>

<div class="py-5"></div>

<div mdbModal #taskModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" (close)="closedTaskModal()">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <!--modal-notify modal-info-->
    <div class="modal-content">
      
      <div class="modal-header purple lighten-2 row">
          <div class="col mr-auto white-text">
            <p *ngIf="taskAction === 'new'" class="heading lead">Add Task</p>
            <p *ngIf="taskAction === 'edit'" class="heading lead">Edit Task</p>
            <p *ngIf="taskAction === 'view' && selectedTask" class="heading lead is-clickable border d-inline p-1 rounded" [class.purple]="selectedTask.completed" (click)="updateTaskStatus(selectedTask.id, !selectedTask.completed)">
              <mdb-icon fas icon="check"></mdb-icon> 
              <ng-container *ngIf="!selectedTask.completed"> Mark Complete</ng-container>
              <ng-container *ngIf="selectedTask.completed"> Completed</ng-container>
            </p>
          </div>

          <div class="col-3 ml-auto text-right white-text">
            <mdb-icon *ngIf="taskAction !== 'new'" fas icon="ellipsis-h" class="mx-2 is-clickable" #taskMenuPopover="bs-mdbPopover" placement="bottom" triggers="focus" [mdbPopover]="popTemplate"></mdb-icon>
            <mdb-icon fas icon="times" class="mx-2 is-clickable" (click)="taskModal.hide()"></mdb-icon>
          </div>
          <!--It doesn't matter where ng-template blocks goes in the script-->
          <ng-template #popTemplate>
            <div class="list-group list-group-flush">
              <!-- <button *ngIf="taskAction === 'view' && selectedTask" class="list-group-item list-group-item-action waves-light px-0" mdbWavesEffect (click)="updateTaskStatus(selectedTask.id, !selectedTask.completed)">
                <mdb-icon fas icon="check"></mdb-icon> Mark Complete
              </button> -->
              <button *ngIf="taskAction === 'view'" class="list-group-item list-group-item-action waves-light px-0" mdbWavesEffect (click)="editTaskModal()">
                <mdb-icon far icon="edit"></mdb-icon> Edit Task
              </button>
              <button *ngIf="taskAction === 'edit'" class="list-group-item list-group-item-action waves-light px-0" mdbWavesEffect (click)="openViewTaskModal(selectedTask.id)">
                <mdb-icon far icon="edit"></mdb-icon> Undo Edition
              </button>
              <button class="list-group-item list-group-item-action waves-light px-0 red-text" mdbWavesEffect (click)="deleteTask()">
                <mdb-icon far icon="trash-alt"></mdb-icon> Delete Task
              </button>
            </div>
          </ng-template>
      </div>


      <div class="modal-body">

        <div *ngIf="deleting" class="col-12 text-center pt-5">
          <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
        </div>

        <form *ngIf="taskAction !== 'view' && !deleting && taskModal.isShown" [formGroup]="taskForm" class="row justify-content-center pb-5">

          <div class="col-12 text-center">
            <h4 class="font-weight-bold">Title</h4>
          </div>
          <div class="col-6 md-form mb-5 mt-0">
            <input type="text" id="form34" class="form-control" mdbInput mdbValidate formControlName="title">
          </div>
  

          <div class="col-12 text-center">
            <h4 class="font-weight-bold">Due Date</h4>
          </div>
          <div class="col-6 mt-0">
            <mdb-date-picker name="mydate" [options]="dueDateOptions" [placeholder]="'Selected date'" required formControlName="dueDate">
            </mdb-date-picker>
          </div>
  

          <div class="col-12 text-center">
            <h4 class="font-weight-bold">Priority</h4>
          </div>
          <div class="col-8 mt-0 pb-5 text-center">
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample" mdbInput
               name="priority"
               [value]="1"
               formControlName="priority">
              <label class="form-check-label" for="materialInline1">
                <mdb-badge pill="true" default="true">Low</mdb-badge>
              </label>
            </div>
  
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample" mdbInput 
              name="priority"
              [value]="2"
              formControlName="priority">
              <label class="form-check-label" for="materialInline2">
                <mdb-badge pill="true" warning="true">Medium</mdb-badge>
              </label>
            </div>
  
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample" mdbInput 
              name="priority"
              [value]="3"
              formControlName="priority">
              <label class="form-check-label" for="materialInline3">
                <mdb-badge pill="true" danger="true">High</mdb-badge>
              </label>
            </div>
          </div>
  
  
          <div class="col-12 text-center">
            <h4 class="font-weight-bold">Description</h4>
          </div>
          <div class="col-10 mt-0 pb-3">
            <div *ngIf="loadingTinymce" class="text-center">
              <mdb-spinner spinnerColor="blue"></mdb-spinner>
            </div>

            <div [hidden]="loadingTinymce" id="tinymceEditor" [innerHTML]='description | safeHtml'>

            </div>
            <!-- <textarea type="text" id="form7" class="md-textarea form-control" rows="5" mdbInput formControlName="description"></textarea> -->
          </div>


          <div class="col-12 text-center">
            <h4 class="font-weight-bold">Attachments</h4>
          </div>
          <div class="col-10 mt-0" formArrayName="files">
            <ng-container *ngFor="let file of files.controls; let i=index">
              <div class="file-field md-form my-0">
                <button type="button" [disabled]="taskForm.disabled || file.value.uploading" mdbBtn color="primary" size="sm" class="waves-light" mdbWavesEffect>
                  <i class="mr-1 fa fa-plus white-text" aria-hidden="true"></i>Choose File
                  <input type="file" [disabled]="taskForm.disabled || file.value.uploading" mdbFileSelect (change)="uploadFile($event, i)">
                </button>
                <div class="file-path-wrapper">
                  <input type="file" [disabled]="taskForm.disabled || file.value.uploading" (change)="uploadFile($event, i)">
                  <input class="file-path"
                    disabled  
                    type="text" 
                    placeholder="Drag and Drop your file here" 
                    [value]="file.value.uploading? ('Progress: ' + file.value.uploadPercent  + '%') : file.value.name">
                </div>
                <button mdbBtn [disabled]="taskForm.disabled || file.value.uploading" color="danger" size="sm" (click)="removeFile(i)">
                  <mdb-icon far icon="trash-alt mr-1"></mdb-icon>Delete
                </button>
              </div>
            </ng-container>

            <div class="text-center">
              <button mdbBtn color="primary" size="sm" (click)="addNewFile()">
                <mdb-icon fas icon="plus-circle mr-1"></mdb-icon> New File
              </button>
            </div>
          </div>

        </form>

        <div *ngIf="taskAction === 'view' && !deleting" class="row justify-content-center">
          <div *ngIf="!selectedTask" class="col-12 text-center pt-5">
            <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
          </div>

          <ng-container *ngIf="selectedTask">
            <div class="col-12">
              <h1 class="font-weight-bold">{{selectedTask.title}}</h1>
            </div>
  
            <div class="col-2">
              <p class="grey-text font-weight-bold">Due Date:</p>
            </div>
            <div class="col-10">
              <p *ngIf="selectedTask.dueDate" class="font-weight-bold">{{formatDate(selectedTask.dueDate)}}</p>
            </div>
  
            <div class="col-2">
              <p class="grey-text font-weight-bold">Priority:</p>
            </div>
            <div class="col-10">
              <mdb-badge *ngIf="selectedTask.priority === 1" pill="true" default="true">Low</mdb-badge>
              <mdb-badge *ngIf="selectedTask.priority === 2" pill="true" warning="true">Medium</mdb-badge>
              <mdb-badge *ngIf="selectedTask.priority === 3" pill="true" danger="true">High</mdb-badge>
            </div>
  
            <div class="col-12"><hr></div>
  
            <div class="col-12">
              <div [innerHTML]="selectedTask.description | safeHtml">
              </div>
            </div>
  
            <div class="col-12"><hr></div>
  
            <div class="col-2">
              <p class="grey-text font-weight-bold">Attachments:</p>
            </div>
            <div class="col-10">
              
              <a *ngFor="let file of selectedTask.files" [href]="file.url" class="mr-3" target="_blank">{{file.name}}</a>
            </div>
          </ng-container>
        </div>

      </div>


      
      <div *ngIf="!deleting" class="modal-footer justify-content-center">
        <button *ngIf="taskAction !== 'view'" type="button" mdbBtn color="secondary" outline="true" mdbWavesEffect (click)="taskModal.hide()">Close</button>

        <button *ngIf="taskAction === 'new'" type="button" mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="newTask()" [disabled]="submitting || uploadingFiles">
          <span *ngIf="!submitting">Submit</span>
          <span *ngIf="submitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>

        <button *ngIf="taskAction === 'edit'" type="button" mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="updateTask()" [disabled]="submitting || uploadingFiles">
          <span *ngIf="!submitting">Update</span>
          <span *ngIf="submitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    
  </div>
</div>