/* You can add global styles to this file, and also import other style files */

.opacity {
	opacity: 0.9 !important;
}


mdb-error {
  font-weight: 700 !important;
}

.is-clickable {
  cursor: pointer;
}